@use './components/Footer' as *;
@use './components/Navbar' as *;
@use './components/SearchBar' as *;
@use './components/Profile' as *;
@use './components/bookingCard' as *;

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";




html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black !important;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

}

.content {
  flex-grow: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.react-datepicker__day--highlighted {
  background-color: #f2f2f2;
  color: #aaa;
}

.react-datepicker__day--highlighted:hover {
  background-color: #ccc;
}

.actions-bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.update-venue,
.delete-venue {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
  flex: 1;
}

button:hover,
.button:hover {
  background-color: #0056b3;
}

.delete-venue {
  background-color: #dc3545;
}

.delete-venue:hover {
  background-color: #c82333;
}

.update-venue {
  background-color: #28a745;
}

.update-venue:hover {
  background-color: #218838;
}
